/*
Amreet - this is the css file for Mixed.
*/
body {
  background-color: #EAF4F4;
  font-family: "Electrolize", sans-serif;
}

.container {
  position: relative;
  height: 90vh;
  overflow: auto; /* Allow scrolling if content overflows */
}

.header {
  color: darkgreen;
  text-align: center;
  font-size: 28px;
}

.header h1::after {
  content: "🍹"
}

.select-ingredient {
  color: black;
  text-shadow: 0.2px 0.2px 0.3px #000000;
  text-align: center;
  border-radius: 10px;
  padding: 40px;
  background-image: url('photo.jpg'); /* Replace with the actual path to your image */
  background-size: cover; /* Ensure the image covers the entire viewport */
  background-position: center center; /* Center the image */
  background-attachment: fixed;
}

input[type="button"] {
  color: green;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 20px;
  background-color: lightgreen;
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: green;
  color: white;
}
