/*
Amreet - this is the css file for Mixed.
*/
body {
  background-color: #EAF4F4;
  font-family: "Electrolize", sans-serif;
}

.container {
  background-color: #EAF4F4;
  position: relative;
  height: 90vh;
  overflow: auto; /* Allow scrolling if content overflows */
}

.header {
  color: darkgreen;
  text-align: center;
  font-size: 28px;
}

.header h1::after {
  content: "🍹"
}

.select-ingredient {
  color: green;
  text-align: center;
  background-color: #EAF4F4;
  border-radius: 10px;
  padding: 60px;
  position: relative; /* Ensure the image is positioned relative to this container */
  margin: 10px;
  overflow: scroll; /* Prevent image from overflowing */
  transition: background-color 0.3s ease;

}

.select-ingredient:hover{
  background-color: #DDF9C1;
}
.select-ingredient img{
  border-radius: 10px;
}

input[type="button"] {
  color: green;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 20px;
  background-color: lightgreen;
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: green;
  color: white;
}
